.container {
  height: 100vh;
  overflow-x: hidden;
}

.sticky {
  position: sticky;
  height: 100vh;
  display: flex;
  top: 0;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

h1, p {
  color: white;
  font-size: 400%;
  text-shadow: 0px 0px 5px #000000;
}

#slide1 {
  background-image: url("/img/background/rocky-mountain.jpg");
}

#slide2 {
  background-image: url("/img/background/dolomites.jpg");
}

#slide3 {
  background-image: url("/img/background/landscape.jpg");
}

#slide4 {
  background-image: url("/img/background/rough-horn.jpg");
}

#slide5 {
  background-image: url("/img/background/landscape-2.jpg");
}

#slide6 {
  background-image: url("/img/background/pyrenees.jpg");
}

#slide7 {
  background-image: url("/img/background/mountain.jpg");
}

#slide8 {
  background-image: url("/img/background/mountain-2.jpg");
}

#slide9 {
  background-image: url("/img/background/mountain-3.jpg");
}

#slide10 {
  background-image: url("/img/background/landscape-3.jpg");
}

#slide11 {
  background-image: url("/img/background/hintersee.jpg");
}

#slide12 {
  background-image: url("/img/background/nature.jpg");
}

#slide13 {
  background-image: url("/img/background/alberta.jpg");
}

#slide14 {
  background-image: url("/img/background/cadini.jpg");
}